body {
    background-color: #222;
    color: #d5d5d5;
}

body, p, h1, h2, h3, h4, h5, {
    color: #d5d5d5;
}

.top-bar .name h1 a, .top-bar .toggle-topbar.menu-icon a {
    color: #d5d5d5;
}

h2, h3, h4, h5 {
    color: #354d6c;
}

input, input[type=text] {
    background-color: #54585d;
    border: 1px solid #212F3B;
}

button, .button {
    color: #d0d0d0;
    background-color: #212F3B;
}

.button:hover, .button:focus {
    background-color: #2F6187;
}

.top-bar-section ul li > button.button.alert, .top-bar-section ul li > a.button.alert {
    background-color: #8A2522;
    padding: 5px 12px 7px 12px;
}

.top-bar-section ul li > button.button.alert:hover, .top-bar-section ul li > button.button.alert:focus,
.top-bar-section ul li > a.button.alert:hover, .top-bar-section ul li > a.button.alert:focus {
    background-color: #9E1C19;
}

button:hover, button:focus, .button:hover, .button:focus {
    color: #d0d0d0;
}

a {
    color: #2c82a5;
}

a:hover {
    color: #59a2c3;
}

.top-bar input {
    margin-bottom: 0;
}